@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #f2f5f3;
    --main-text-color: #292929;
    --secondary-text-color: #2f76b0;
}

body {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

section {
    padding: 0px 45px;
}

header {
    width: 100%;
    background-color: var(--secondary-text-color);
}

header .menu{
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header a{
     text-decoration: none;
     font-size: 17px;
     font-weight: 410;
     color: var(--main-text-color);
    transition: all ease-in-out .5s;
    }

header .menu a:hover {
    transform: scale(1.06);
    color: var(--main-bg-color);
}

.logo img{
    width: 150px;
    height: 145px;
    display: block;
    margin: 0 auto;
    float: center;
}

.home-section a{
    text-decoration: none;
    color: var(--main-bg-color);
}

.home-section h2 {
    margin: -20px auto;
    padding: 10px;
    color: var(--main-text-color);
    text-align: center;
}

ul {
    margin: 20px;
    list-style: circle;
    list-style-position: inherit;
}

.home-section-1 li {
    font-family: inherit;
    font-size: 17px;
    font-weight: 410;
    color: var(--main-text-color);
    text-align: left;
    padding: 6px 0;   
}

.home-section-1 p {
    margin: 20px auto;
}

.home-section .container {
    margin: 60px auto;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-text-color);
    width: 100%;
    height: 500px;
    border-radius: 25px;
}