@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #f2f5f3;
    --main-text-color: #292929;
    --secondary-text-color: #2f76b0;
    --third-text-color: #34517c;
}

body {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

section {
    padding: 0px 45px;
}

header {
    width: 100%;
    background-color: var(--secondary-text-color);
}

header .menu{
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header a{
     text-decoration: none;
     font-size: 17px;
     font-weight: 410;
     color: var(--main-text-color);
    transition: all ease-in-out .5s;
    }

header .menu a:hover {
    transform: scale(1.06);
    color: var(--main-bg-color);
}

.logo img{
    width: 150px;
    height: 145px;
    display: block;
    margin: 0 auto;
    float: center;
}

.home-section a {
    text-decoration: none;
    color: var(--main-bg-color);
}

.home-section h2 {
    margin: -20px auto;
    padding: 10px;
    color: var(--main-text-color);
    text-align: center;
}



.home-section-1 p {
    margin: 20px auto;
    text-align: center;
    color: var(--main-text-color);
}

.home-section-1 {
    margin: 100px;
}

.home-section .container {
    margin: 60px auto;
    display: flex;
    gap: 2em;
    flex-direction: column;
    background: var(--secondary-text-color);
    width: 100%;
    height: 600px;
    border-radius: 25px;
    

}

.home-section .admin-nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 22px;
    font-weight: 410;
    justify-content: left;
    padding: 5px 15px;
    height: 25px;
    background: var(--third-text-color);
}

.home-section .admin-nav a {
    color: var(--main-text-color);
    text-align: left;
    padding: 0 15px;
    display: block;
    border-right: 2px solid var(--secondary-text-color);
    border-left: 2px solid var(--secondary-text-color);
    transition: .4s;
    border-radius: 5px;
}

.home-section .admin-nav .active {
    text-decoration: underline;
    color: var(--secondary-text-color);
}

.no-mobile {
    display: none;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
    height: 200px;
    cursor: pointer;
}


@media (max-width:550px){

    body {
        background-color: rgba(55, 50, 50, 0.8);
    }

    .no-mobile, .no-mobile h1 {
        display: block;
        text-align: center;
        float: center;
        margin: 0 auto;
        color: black;
    }
    .home-section,header {
        display: none;
    }
}
