@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #f2f5f3;
    --main-text-color: #292929;
    --secondary-text-color: #2f76b0;
}

body {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

section {
    padding: 0px 45px;
}

header {
    width: 100%;
    background-color: var(--secondary-text-color);
}

header .menu{
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header a{
     text-decoration: none;
     font-size: 17px;
     font-weight: 410;
     color: var(--main-text-color);
    transition: all ease-in-out .5s;
    }

header .menu a:hover {
    transform: scale(1.06);
    color: var(--main-bg-color);
}

.logo img{
    width: 150px;
    height: 145px;
    display: block;
    margin: 0 auto;
    float: center;
}

.home-section a{
    text-decoration: none;
    color: var(--main-bg-color);
}

.home-section h2 {
    margin: -20px auto;
    padding: 10px;
    color: var(--main-text-color);
    text-align: center;
}
.home-section h3 {
    text-align: center;
    padding: 10px;
}

.home-section-1 p,.home-section-2 {
    color: var(--main-text-color);
    text-align: center;
    margin: -2px;
}

.home-section-1 p {
    margin: 20px auto;
}

.home-section .container {
    margin: 60px auto;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-text-color);
    width: 100%;
    height: 500px;
    border-radius: 25px;
}


.home-section-3 a
{
    font-size: 22px;
    font-weight: 500;
    background: var(--main-bg-color);
    color: var(--secondary-text-color);
    padding: 11px 8px;
    text-align: center;
    border-radius: 10px;

}

.no-mobile {
    display: none;
}



.home-section-3 {
    margin: 13px auto;
    transition: all ease-in-out .4s;
}

.home-section-3:hover {
    transform: translateY(-3px);
}

@media(max-width:485px) {
    body {
        font-size: 12px;
    }

    header a{
        font-size: 12px;
    }
    .home-section-3 a{
        font-size: 12px;
    }
}

@media(max-width:281px) {
    header,.home-section{
        display: none;
    }

    body {
        background-color: rgba(55, 50, 50, 0.8);
    }

    .no-mobile, .no-mobile h1 {
        display: block;
        text-align: center;
        float: center;
        margin: 0 auto;
        color: black;
    }


}